<a href="https://colab.research.google.com/github/sanmi-onemano/hamoye/blob/master/Stage_A_quiz%20by%20Oluwasanmi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hamoye Stage A Quiz by Oluwasanmi Onemano**

In [11]:
# first import all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
 # import the file using pandas
 url = "http://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
 fuel_data = pd.read_csv(url, index_col =0)
 fuel_data.head()

                        utility_id_ferc1  ...  fuel_cost_per_mmbtu
record_id                                 ...
f1_fuel_1994_12_1_0_7                  1  ...                1.121
f1_fuel_1994_12_1_0_10                 1  ...                1.120
f1_fuel_1994_12_2_0_1                  2  ...                1.650
f1_fuel_1994_12_2_0_7                  2  ...                1.970
f1_fuel_1994_12_2_0_10                 2  ...                2.570

[5 rows x 10 columns]

Question 1

In [ ]:
# A.extend(B) is the best way to create a single list of both A and B

Question 2

In [8]:
# to create an identity matrix use
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Question 3

In [ ]:
# the answer is categorical and mode imputation

Question 4

In [11]:
#fuel_type_code which has the lowest average cost per unit burned
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

Question 5

In [15]:
# for the standard deviation 
standard_deviation = fuel_data['fuel_mmbtu_per_unit'].std()
print (standard_deviation)

10.600220307806886

In [20]:
upper_quantile = fuel_data['fuel_mmbtu_per_unit'].quantile(q= 0.75, interpolation = 'linear')
print(upper_quantile)

17.006

Question 6

In [23]:
# To find the year with the highest average fuel cost per unit delivered
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values()

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

Question 7

In [9]:
#To  find the feature with missing values , total number of missing values and percentage of missing rows a a factor of the total number of rows
fuel_data.isnull().sum()

utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [34]:
# The feature is fuel_unit and the total number of missing values is 180
# To get the percentage of missing rows
total_rows = fuel_data['report_year'].count()
total_fuel_unit_row = fuel_data['fuel_unit'].count()
missing_row= total_rows - total_fuel_unit_row
percentage = (missing_row/total_rows)*100
print(percentage)

0.609694136774718

Question 8

In [24]:
# the skewness and Kurtosis of the Feul quantity
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [25]:
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

Question 9

In [28]:
# features with the second and third  lowest correlation
fuel_data.corr().loc['fuel_cost_per_unit_burned'].abs().sort_values()

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
# the answer is fuel_mmbtu_per_unit and fuel_cost_per_unit_delivered

Question 10

In [31]:
# the percentage change in the fuel cost per unit burned in 1998 compared to 1994
total_yearly_cost = fuel_data.groupby(['report_year' , 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()
print(total_yearly_cost)

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
                                       ...
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [33]:
year_1994, year_1998 = total_yearly_cost.loc[[1994,1998], 'coal']
change= (year_1998 - year_1994)
percentage_change =(change/year_1994)*100
print(percentage_change)

-20.56765451826049