<a href="https://colab.research.google.com/github/sanmi-onemano/hamoye/blob/master/Stage_B_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hamoye Stage B Quiz by Oluwasanmi Onemano

In [105]:
# import all necessary libaries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [106]:
# Imorting the dataset to be used
url ='https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
energydata = pd.read_csv(url)
energydata.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [107]:
# summarized data
energydata.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [108]:
# wrangling the data by dropiing the dates and lights columns  due to large number of zero entries
energydata.drop(['date','lights'], axis = 1 ,inplace= True)
energydata.head ()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [109]:
# to normalize the dataset
from sklearn.preprocessing import  MinMaxScaler
scaler = MinMaxScaler()
scaler_fit= scaler.fit_transform (energydata)
normalised_energydata = pd.DataFrame(scaler_fit, columns= energydata.columns)
features_energydata = normalised_energydata.drop(columns =['Appliances'], axis = 1)
target_variables = normalised_energydata ['Appliances']

QUESTION 12

In [110]:
from sklearn.model_selection import train_test_split

In [111]:
x = energydata ['T2']
y = energydata ['T6']

In [112]:
array = np.array ([x])
x_shaped = array.reshape(-1, 1)

In [113]:
x_train, x_test, y_train, y_test = train_test_split  (x_shaped, y, test_size = 0.3)

In [114]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()
# fit the model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [115]:
# obtain predictions
predicted_values = linear_model.predict(x_test)

In [116]:
from sklearn.metrics import r2_score
r2_score = r2_score (y_test , predicted_values)
round(r2_score, 2)

0.64

QUESTION 13

In [117]:
from sklearn.model_selection import  train_test_split

In [118]:
x_train, x_test, y_train, y_test = train_test_split(features_energydata, target_variables, test_size=0.3, random_state=42)

In [119]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

In [120]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error (y_test, predicted_values)
round (mae, 2)

0.05

QUESTION 14

In [121]:
# the residual sum of squares  in 2 decimal places

In [122]:
rss  = np.sum (np.square(y_test - predicted_values))
round(rss, 2)

45.35

QUESTION 15

In [123]:
# to find theroot mean squared error in 3 decimal places
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round (rmse, 3)

0.088

QUESTION 16

In [124]:
# To find the coefficient of determination in 2 decimal places
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

QUESTION 17

In [125]:
# to find the feature wih the lowest and highest weight respectively  given alpha as 0.001

def get_weights_energydata(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_energydata = pd.DataFrame(weights).reset_index()
  weights_energydata.columns = ['Features', col_name]
  weights_energydata[col_name].round(3)
  return weights_energydata

linear_model_weights = get_weights_energydata(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights.sort_values(by='Linear_Model_Weight')

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

QUESTION 18

In [126]:
#Ridge Regression
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
ridge_predicted_y = ridge_reg.predict(x_test)

In [127]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

from sklearn.metrics import  mean_squared_error
ridgermse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(ridgermse, 3)

0.088

QUESTION 19

In [128]:
#Feature selection and Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [129]:
lasso_weights_energydata = get_weights_energydata(lasso_reg, x_train, 'Lasso_weight')
lasso_weights_energydata

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [130]:
count = [value != 0 for value in lasso_weights_energydata.Lasso_weight]
count.count(True)

4

QUESTION 20

In [131]:
# to find the RMSE with lasso regression 
lasso_reg= Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

lasso_predicted_values = lasso_reg.predict(x_test)

In [132]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, lasso_predicted_values))
round(rmse, 3)

0.094